@font-face {
    font-family: FedraSansPro-DemiItalic;
    src: url(../fonts/FedraSansPro-DemiItalic.otf); }

.container-fluid {
    padding-right: 15px;
    padding-left: 0;

}

body {
    font-family: FedraSansPro-DemiItalic, Helvetica, sans-serif;
    position: relative;
    background-color: honeydew;

}
.container h1,h2,h3,h4,h5 {
    text-align: center; }

/*menu*/
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important; }

.affix ~ .container-fluid {
    position: relative;
    top: 50px;  }

.navbar {
    background-color:  #bb1616;
    margin-bottom: 0;
    border-radius:0;
    border:none;
    font-size: 16px;
    box-shadow: 0 1px 15px #000000;
    /*text-shadow: 2.5px 2px 2px rgba(0,0,0,0.9); */
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 15px; }

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color:white; }

.navbar-collapse ul li:hover {
    background-color: #ff0000; }
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #ff0000;}
.navbar-inverse .navbar-toggle:hover {
    background-color: #ff0000;}


/*#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}*/
/*#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}*/
/*#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}*/
/*#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}*/

.header-title{
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
    width:100%;
    color: whitesmoke;
    height: 200px;
    text-align: center;
    background:url("../img/dk-header.jpg") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;  }

/*main*/
.link-facebook{
    margin-top: 3%; }

/*carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {

    width: 100%;
    margin: auto; }
#myCarousel{
    box-shadow: 0 0 10px #000000;
}

/*begin img-gallery*/
.fancybox {
    margin: 10px }

.fancybox img {
    box-shadow: 3px 2px 25px #b87b90;
    padding: 0.5%;
    width: 250px;
    height: 200px; }

a.fancybox:hover img {
    background-color: #101010;
    opacity: 0.4; }

/*footer*/
footer {
    background-color:  #bb1616;
    /*background-color: #101010;*/
    padding-top:40px;
    margin: 20px 0 0 0;
    height:120px;
    color: #fff;
    /*text-shadow: 2.5px 2px 2px rgba(0,0,0,0.9);*/  }
footer a{
    font-weight: bolder;  }
.footer-icon {
    font-size: 30px;
    margin: -15px 0 20px 0; }

/*ADMINISTRATION*/
.admin{
    margin-top: 10%; }
.admin-form{
    width: 50%;
    height: 45%;
    padding: 2%;
    border: 1px solid #ff0000; }
.input-group{
    margin-top: 2%;
}

/*-------------------------------------------------------------------------------------------------------------------  */
/*about us*/
.main-text {
    font-size: 16px;
    line-height: 25px; }



/*contact page*/
.contact-tel{
    margin:4% 0 3% 0;

}